services:
  - type: web
    name: markdown-editor-viewer
    runtime: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 3000
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: true
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
      - key: NODE_ENV
        value: production
